<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Setup System</title>
</head>


<body>

    {{ hostname }}

    The following information is required by the SSH Template in the HSM Central Management system.<br>

    <br>
    <br>
    Signer Host ID
    <textarea rows=10 cols=70>
    {{ timeservercert }}
    </textarea>
</body>

</html>